# Qt Creator
.qtcreator/
*.user
*.autosave

# Build
build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Executables
*.exe
*.dll

# Object files
*.o
*.obj
*.a
*.lib

# IDE
.vscode/
.idea/

# Logs
*.log

# Keep data output(.csv file which is automatically created when users complete a ride)
data/*.csv
!data/.gitkeep